<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ravijain.sankalp">

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!--
        <activity
            android:name=".LoginActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        -->
        <activity android:name=".activities.SpMainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.SpAddSankalpActivity"
            android:label="@string/title_activity_sp_add_sankalp"
            android:parentActivityName=".activities.SpMainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.ravijain.sankalp.activities.SpMainActivity" />
        </activity>
        <activity
            android:name=".activities.SpSankalpList"
            android:label="@string/title_activity_sp_sankalp_list"
            android:parentActivityName=".activities.SpMainActivity">
            <!--<intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>
            <meta-data android:name="android.app.searchable"
                android:resource="@xml/searchable"/>-->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.ravijain.sankalp.activities.SpMainActivity" />
        </activity>
        <activity
            android:name=".activities.SpUserSetupActivity"
            android:label="@string/title_activity_user_setup"
            android:noHistory="true">

        </activity>
        <activity
            android:name=".activities.SpSankalpDetailsActivity"
            android:label="@string/Details">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.ravijain.sankalp.activities.SpSankalpList" />


        </activity>
    </application>

</manifest>