<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ravijain.sankalp">

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/IndigoTheme"
        android:supportsRtl="true">
        <receiver
            android:name=".support.SpAlarmReceiver"
            android:enabled="false">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".activities.SpAddSankalpActivity"
            android:label="@string/title_activity_sp_add_sankalp"
            android:parentActivityName=".activities.SpMaterialDashboardActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.ravijain.sankalp.activities.SpMaterialDashboardActivity" />
        </activity>
        <activity
            android:name=".activities.SpSankalpList"
            android:label="@string/title_activity_sp_sankalp_list"
            android:parentActivityName=".activities.SpMaterialDashboardActivity">

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.ravijain.sankalp.activities.SpMaterialDashboardActivity" />
        </activity>
        <activity
            android:name=".activities.SpUserSetupActivity"
            android:noHistory="true" />
        <activity
            android:name=".activities.SpMaterialDashboardActivity"
            android:label="@string/title_activity_sp_material_dashboard">

        </activity>
        <activity android:name=".activities.SpSplashActivity"
            android:theme="@style/SankalpSplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>